<h1>Edit User</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username, "Username: "%> <br>
    <%= form.text_field :username, placeholder: "Enter your username"%> 
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %> <br>
  </div>

  <div>
    <%= form.label :email, "Email: "%> <br>
    <%= form.text_field :email, placeholder: "Enter your email"%> 
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %> <br>
  </div>

  <div>
    <%= form.label :password, "Password: "%> <br>
    <%= form.text_field :password, placeholder: "Enter your password"%> 
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %> <br>
  </div>

  <%= form.submit "Update"%>
<% end %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
